body {
    --culoare-fundal : pink;
    --margine-pagina : 150px;
    background-color:var(--culoare-fundal);
}

p {
    border: 1px solid var (--culoare-fundal);
}

main {
    margin-left: var(--margine-pagina);

    margin-right: var(--margine-pagina);

}

@media screen and (max-width:1200px) {
    body {
        --margine-pagina : 80px;
    }

}

@media screen and (max-width:700px) {
    body {
        --margine-pagina : 50px;
    }

}